- if (evaluation.type.suite? || evaluation.template) && @evaluations.nil?
  .alert.alert-info
    = t(:".for_suite",     suite_name:    evaluation.suite.name)    if evaluation.type.suite?
    = t(:".from_template", template_name: evaluation.template.name) if evaluation.template && evaluation.new_record?

= render partial: "evaluations/select_template", locals: { evaluation: evaluation }

- if @evaluations
  = render partial: "evaluations/from_templates", locals: { suite: suite, evaluations: evaluations }
- else
  = render partial: "evaluations/form_inputs", locals: { evaluation: evaluation }
