%table.table.table-striped.suites-table
  %thead
    %tr
      %th.name= Evaluation.human_attribute_name(:name)
      %th.actions &nbsp;
  %tbody
    - evaluations.each do |evaluation|
      %tr
        %td.name= evaluation.name
        %td.actions
          .btn-group
            %a.btn.btn-mini{href: evaluation_path(evaluation)}=                            t(:".show_action")
            %a.btn.btn-mini{href: edit_evaluation_path(evaluation)}=                       t(:".edit_action")
            %a.btn.btn-mini.btn-danger{href: confirm_destroy_evaluation_path(evaluation)}= t(:".destroy_action")
