- active      ||= nil
- only_return ||= false

- content_for :title do
  = t(:"evaluations.titles.#{evaluation.type}s.text", suite: evaluation.suite.try(:name))

- if evaluation.suite && evaluation.suite.is_template
  %a{href:suite_path(evaluation.suite)}= t(:".return_to_suite_template")
- elsif evaluation.type.suite?
  %a{href:suite_path(evaluation.suite)}= t(:".return_to_suite")

%ul.nav.nav-tabs.nav-split
  - if !only_return
    %li.primaries
      %ul.nav.nav-tabs.nav-split
        - if !evaluation.new_record?
          %li{class: active_if(active == :show)}
            %a{href:evaluation_path(evaluation)}= t(:".show_action")

    - if !evaluation.new_record?
      %li.secondaries
        %ul.nav.nav-tabs.nav-split
          - if can?(:edit, evaluation)
            %li{class: active_if(active == :edit)}
              %a{href:edit_evaluation_path(evaluation)}= t(:".edit_action")
          - if can?(:destroy, evaluation)
            %li{class: active_if(active == :destroy)}
              %a{href:confirm_destroy_evaluation_path(evaluation)}= t(:".destroy_action")
