- active      ||= nil
- evaluation  ||= nil
- suite       ||= evaluation ? evaluation.suite : nil
- only_return ||= false

- content_for :title do
  - suite ? Evaluation.model_name.human(count: 2) : t(:".templates_title")

%ul.nav.nav-tabs
  - if !suite
    %li{class: active_if(active == :index)}
      %a{href:evaluations_path()}= t(:".index_action")
    %li{class: active_if(active == :new)}
      %a{href:new_evaluation_path()}= t(:".new_action")

  - if evaluation
    %li{class: active_if(active == :show)}
      %a{href:evaluation_path(evaluation)}= t(:".show_action")
    %li.secondary-tab{class: active_if(active == :destroy)}
      %a{href:confirm_destroy_evaluation_path(evaluation)}= t(:".destroy_action")
    %li.secondary-tab{class: active_if(active == :edit)}
      %a{href:edit_evaluation_path(evaluation)}= t(:".edit_action")

  - elsif !only_return && suite
    %li{class: active_if(active == :new)}
      %a{href:new_suite_evaluation_path(suite)}= t(:".new_action")

  - if suite
    %li
      %a{href:suite_path(suite)}= t(:".return_to_suite")

