- hide ||= false
= f.inputs t(:".result_info"),
  class: "form-horizontal inputs value-type-fields numeric-fields",
  style: hide ? "display:none;" : "" do

  = f.input :max_result, required: true, input_html: { required: true }

  .control-group
    %label.control-label= t(:".red")
    .controls
      = f.text_field :red_min, id: "evaluation_red_min_text", class: "input-mini", disabled: true
      &ndash;
      = f.text_field :red_max, id: "evaluation_red_max_text", class: "input-mini", disabled: true

  - has_color_range_error = !(evaluation.errors[:yellow_min] + evaluation.errors[:yellow_max]).blank?
  .control-group{class: "#{"error" if has_color_range_error}"}
    = f.label :yellow_min, t(:".yellow"), class: "control-label"
    .controls
      = f.text_field :yellow_min, id: "evaluation_yellow_min_text", class: "input-mini"
      &ndash;
      = f.text_field :yellow_max, id: "evaluation_yellow_max_text", class: "input-mini"
      - if has_color_range_error
        .help-block= t(:".color_range_error_text")

  .control-group
    %label.control-label= t(:".green")
    .controls
      = f.text_field :green_min, id: "evaluation_green_min_text", class: "input-mini", disabled: true
      &ndash;
      = f.text_field :green_max, id: "evaluation_green_max_text", class: "input-mini", disabled: true
      .help-block= t(:".color_range_help_html")

  -# These are values that are actually submitted
  = f.hidden_field :red_min
  = f.hidden_field :red_max
  = f.hidden_field :yellow_min
  = f.hidden_field :yellow_max
  = f.hidden_field :green_min
  = f.hidden_field :green_max

= f.inputs t(:".stanines"),
  class: "form-horizontal inputs value-type-fields numeric-fields",
  style: hide ? "display:none;" : "" do

  - 1.upto(9) do |i|
    - has_error = !(evaluation.errors[:"stanine#{i}_min"] + evaluation.errors[:"stanine#{i}_max"]).blank?
    .control-group{class: "#{"error" if has_error}"}
      %label.control-label= t(:".stanine#{i}")
      .controls
        = f.text_field   :"stanine#{i}_min",
          id: "evaluation_stanine#{i}_min_text",
          class: "input-mini stanine-field-min",
          disabled: true,
          data: { target: "evaluation_stanine#{i}_min" }
        = f.hidden_field :"stanine#{i}_min", class: "stanine-field-min"
        &ndash;
        = f.text_field   :"stanine#{i}_max",
          id: "evaluation_stanine#{i}_max_text",
          class: "input-mini stanine-field-max",
          data: { stanine: i }
        - if has_error
          .help-block= t(:".stanine_range_error_text")
