%table.table.table-striped
  %thead
    %tr
      %th
      - evaluations.each do |evaluation|
        %th= evaluation.name
  %tbody
    %tr.max-results
      %td.name= Evaluation.human_attribute_name(:max_result)
      - evaluations.each do |evaluation|
        %td
          %input.max-result.input-mini{disabled: "disabled",
            type: "number",
            value: evaluation.max_result }
    - previous_group = nil
    - @groups.keys.sort_by{ |g| [g ? 1 : 0, g] }.each do |group|
      - participants = @groups[group]
        %tr
          %th.group(colspan="3")= group
        - participants.sort_by{ |a| a.ordered_name(current_name_order) }.each do |participant|
        %tr
          %td.name= student_name(participant.student)
          - evaluations.each do |evaluation|
            %td.control-group
              - if result = evaluation.results.detect { |r| r.student_id == participant.student_id }
                %input.input-mini{name: "results[#{evaluation.id}][#{participant.student_id}]",
                  type: "number",
                  id: "results_#{evaluation.id}_#{participant.student_id}_value",
                  min: 0,
                  max: evaluation.max_result,
                  value: result.value || "",
                  disabled: result.absent,
                  data: { "error-message" => t(:".result_error_message") }}
                .absent
                  %label{for: "results_#{evaluation.id}_#{participant.student_id}_absent",
                    class: "checkbox" }
                    = check_box_tag("results[#{evaluation.id}][#{participant.student_id}]",
                      "absent",
                      result.absent,
                      id: "results_#{evaluation.id}_#{participant.student_id}_absent")
                    = t(:".absent")
