- if evaluation.new_record? && !evaluation.template && !evaluation.type.generic?
  = form_for evaluation,
    url: new_from_template_evaluations_path(),
    html: { class: "select-evaluation-template-form" } do |f|

    = f.hidden_field :suite_id
    = f.hidden_field :type

    .control-group
      = f.label :template_id, class: "control-label"
      .controls
        = f.hidden_field :template_id,
          class: "evaluation-template-autocomplete-field",
          data: { url: search_template_evaluations_path(),
            placeholder: t(:".template_placeholder"),
            multiple: true }
        = f.submit t(:".use_template_action"), class: "btn btn-primary", data: { "loading-text" => t(:wait) }
