%h1
  = @evaluation.name
  %small
    - if @evaluation.type.template?
      = t(:".template_title")
    - elsif @evaluation.type.suite?
      = @evaluation.suite.name

= render partial: "navigation", locals: { evaluation: @evaluation, active: :destroy }

= confirm_destroy_form(@evaluation, t(:".confirmation.#{@evaluation.type}"))
