%h1
  = @evaluation.name
  %small= t(:"evaluations.titles.#{@evaluation.type}", suite: @evaluation.suite.try(:name))

= render partial: "navigation", locals: { evaluation: @evaluation, active: :destroy }

= closed_suite_message(@evaluation.suite)

= confirm_destroy_form(@evaluation, t(:".confirmation.#{@evaluation.type}"))
