%h1= @evaluation.name

= render partial: "navigation", locals: { evaluation: @evaluation, active: :destroy }

= semantic_form_for @evaluation, method: :delete do |f|

  .alert.alert-block.alert-error
    %p= t(:".confirmation")

  = f.actions do
    = f.action :submit, label: t(:".destroy_action"), button_html: { class: "btn btn-danger"}
    %a.btn{href:evaluation_path(f.object)}= t(:".cancel_action")
