%h1
  = @evaluation.name_was
  %small= t(:"evaluations.titles.#{@evaluation.type}", suite: @evaluation.suite.try(:name))

= render partial: "navigation", locals: { evaluation: @evaluation, active: :edit }

= render partial: "form", object: @evaluation, as: :evaluation
