%h1
  = @evaluation.name_was
  %small
    - if @evaluation.type.template?
      = t(:".template_title")
    - elsif @evaluation.type.suite?
      = @evaluation.suite.name

= render partial: "navigation", locals: { active: :edit, evaluation: @evaluation }

= render partial: "form", object: @evaluation, as: :evaluation
