%h1= t(:"evaluations.titles.#{@evaluation.type}s.html", suite: @evaluation.suite.try(:name))

= render partial: "navigation", locals: { evaluation: @evaluation, active: :new }

= closed_suite_message(@evaluation.suite)

= render partial: "form", object: @evaluation, as: :evaluation, locals: { suite: @suite, evaluations: @evaluations }
