%h1
  - if @evaluation.suite
    = Evaluation.model_name.human(count: 2)
    %small= @evaluation.suite.name
  - else
    = t(:".templates_title")

= render partial: "navigation", locals: { active: :new, suite: @evaluation.suite }

= render partial: "form", object: @evaluation, as: :evaluation
