%h1
  = @evaluation.name
  %small= @suite.name

= render partial: "navigation", locals: { evaluation: @evaluation, only_return: true }

= semantic_form_for @evaluation,
  url: submit_report_evaluation_path(@evaluation),
  html: { id: "result-entry-form", class: "form-horizontal" } do |f|

  = f.input :max_result, input_html: { disabled: true }

  - first = true
  = f.inputs for: :results do |rf|
    = rf.input :value, label: rf.object.student.name, input_html: { autofocus: first, data: { "error-message" => t(:".result_error_message") } }
    = rf.hidden_field :student_id
    - first = false

  = f.actions do
    = f.action :submit, label: t(:".save_action"), button_html: { class: "btn btn-primary" }
    %a.btn{href:url_for(@suite)}= t(:".cancel_action")
    = link_to t(:".destroy_action"), destroy_report_evaluation_path(@evaluation), method: :delete, class: "btn btn-danger"

