%h1
  = @evaluation.name
  %small= @suite.name

= render partial: "navigation", locals: { evaluation: @evaluation, only_return: true }

= closed_suite_message(@suite)

= semantic_form_for :evaluation,
  url: submit_report_all_suite_evaluations_path(@suite),
  html: { id: "multiple-result-entry-form", class: "masked-on-submit", multipart: true } do |f|
  =render partial: "results", locals: { groups: @groups, evaluations: [@evaluation] }

  = f.actions do
    = f.action :submit, label: t(:".save_action"), button_html: { class: "btn btn-primary", tabindex: 3 }
    %a.btn{href:url_for(@suite), tabindex: 3}= t(:".cancel_action")
    = link_to t(:".destroy_action"),
      destroy_report_evaluation_path(@evaluation),
      method: :delete,
      class: "btn btn-danger",
      tabindex: 3
