%h1
  = @evaluation.name
  %small= t(:"evaluations.titles.#{@evaluation.type}", suite: @evaluation.suite.try(:name))

= render partial: "navigation", locals: { evaluation: @evaluation, active: :show }

- if @evaluation.type.template?
  .alert.alert-info= t(:".template_notice")

%table.table.table-bordered.details-table.evaluation-details-table
  %tbody
    %tr.description
      %th= Evaluation.human_attribute_name(:description)
      %td= @evaluation.description
    %tr.categories
      %th= Evaluation.human_attribute_name(:category_list)
      %td
        - @evaluation.category_list.each do |category|
          %span.label.label-info= category
    %tr.target
      %th= Evaluation.human_attribute_name(:target)
      %td= @evaluation.target_text
    - if @evaluation.date
      %tr.date
        %th= Evaluation.human_attribute_name(:date)
        %td= l @evaluation.date
    %tr.max-result
      %th= Evaluation.human_attribute_name(:max_result)
      %td= @evaluation.max_result
    %tr.color-ranges
      %th= t(:".color_ranges")
      %td
        %ul.unstyled.color-ranges-list
          - if @evaluation.value_type.numeric?
            - if @evaluation.red_range
              %li.red=    format_range(@evaluation.red_range)
            - if @evaluation.yellow_range
              %li.yellow= format_range(@evaluation.yellow_range)
            - if @evaluation.green_range
              %li.green=  format_range(@evaluation.green_range)
          - elsif @evaluation.value_type.boolean?
            %li{class: @evaluation.color_for(1)}= t(:yes)
            %li{class: @evaluation.color_for(0)}= t(:no)
          - elsif @evaluation.value_type.grade?
            - 5.downto(0) do |grade|
              %li{class: @evaluation.color_for(grade)}= Evaluation::GRADES[grade].upcase

    - if @evaluation.stanines?
      %tr.stanines
        %th= t(:".stanines")
        %td
          %ul.unstyled.stanine-ranges-list
            - if @evaluation.value_type.numeric?
              - 1.upto(9) do |stanine|
                %li
                  %strong= stanine
                  - range = @evaluation.stanines[stanine.to_s]
                  - if range
                    = format_range(range["min"]..range["max"])
                  - else
                    = "-"
            - if @evaluation.value_type.grade?
              - 5.downto(0) do |grade|
                %li
                  = Evaluation::GRADES[grade].upcase
                  %strong= @evaluation.stanine_for(grade)

- if @evaluation.type.suite? && !@evaluation.results.blank?
  %table.table.table-bordered.table-hover.evaluation-results.results-table
    %thead
      %tr
        %th.student= Student.model_name.human
        %th.evaluation= Result.model_name.human
        - if @evaluation.stanines?
          %th.evaluation= t(:".stanines")
    %tbody
      - @evaluation.results.each do |result|
        %tr
          %th.student= link_to result.student.name, result.student
          %td.result{class: result_color_class(result)}= result.display_value
          - if @evaluation.stanines?
            %td.result{class: result_color_class(result)}= result.stanine
