%h1
  = @evaluation.name
  %small
    = @evaluation.suite.try(:name) || t(:".template_title")

= render partial: "navigation", locals: { evaluation: @evaluation, active: :show }

- unless @evaluation.suite
  .alert.alert-info= t(:".template_notice")

%table.table.table-bordered.details-table.evaluation-details-table
  %tbody
    %tr.description
      %th= Evaluation.human_attribute_name(:description)
      %td= @evaluation.description
    %tr.categories
      %th= Evaluation.human_attribute_name(:category_list)
      %td
        - @evaluation.category_list.each do |category|
          %span.label.label-info= category
    - if @evaluation.has_regular_suite?
      %tr.date
        %th= Evaluation.human_attribute_name(:date)
        %td= l @evaluation.date
    %tr.max-result
      %th= Evaluation.human_attribute_name(:max_result)
      %td= @evaluation.max_result
    %tr.color-ranges
      %th= t(:".color_ranges")
      %td
        %ul.unstyled.color-ranges-list
          - if @evaluation.red_range
            %li.red=    format_range(@evaluation.red_range)
          - if @evaluation.yellow_range
            %li.yellow= format_range(@evaluation.yellow_range)
          - if @evaluation.green_range
            %li.green=  format_range(@evaluation.green_range)

    - if @evaluation.stanines?
      %tr.stanines
        %th= t(:".stanines")
        %td
          %ul.unstyled.stanine-ranges-list
            - @evaluation.stanine_ranges.each_pair do |stanine, range|
              %li
                %strong= stanine
                = format_range(range)

- unless @evaluation.results.blank?
  %table.table.table-bordered.table-hover.evaluation-results.results-color-table
    %thead
      %tr
        %th.student= Student.model_name.human
        %th.evaluation= Result.model_name.human
        - if @evaluation.stanines?
          %th.evaluation= t(:".stanines")
    %tbody
      - @evaluation.results.each do |result|
        %tr
          %th.student= link_to result.student.name, result.student
          %td.result{class: result_color_class(result)}= result.value
          - if @evaluation.stanines?
            %td.result{class: result_color_class(result)}= result.stanine
