= semantic_form_for instance, html: { id: "instance-form", class: "form-horizontal" } do |f|

  = f.input :name, required: true, input_html: { required: true, autofocus: true }

  = f.input :admin, required: false, input_html: { required: false, autofocus: false }

  = f.actions do
    = f.action :submit, label: t(:".save_action"), button_html: { class: "btn btn-primary"}
    %a.btn{href:f.object.new_record? ? instances_path() : instance_path(f.object)}= t(:".cancel_action")
