%h1= Instance.model_name.human(count: 2)

= render partial: "navigation", locals: { active: :index }

%table.table.table-striped.instances-table
  %thead
    %tr
      %th.name=   Instance.human_attribute_name(:name)
      %th.name=   Instance.human_attribute_name(:admins)

  %tbody
    - @instances.each do |instance|
      - if can? :view, instance
        %tr
          %td.name= link_to(instance.name, instance)
          %td.admins= instance.admins.collect{|u| u.name}.join(", ")

= paginate(@instances)
