%table.table.table-bordered.table-hover.table-striped.suite-calendar-table
  %tbody
    - calendar_entries(suite).each do |entity|
      %tr
        %td.date= entity.date
        %td.name= entity.name
        %td.actions
          - case entity
          - when Evaluation
            .btn-group
              %a.btn.btn-mini.btn-primary{href: report_evaluation_path(entity)}=         t(:".report_action")
            .btn-group
              %a.btn.btn-mini{href: evaluation_path(entity)}=                            t(:".show_action")
              %a.btn.btn-mini{href: edit_evaluation_path(entity)}=                       t(:".edit_action")
              %a.btn.btn-mini.btn-danger{href: confirm_destroy_evaluation_path(entity)}= t(:".destroy_action")
          - when Meeting
            .btn-group
              %a.btn.btn-mini{href: meeting_path(entity)}=                            t(:".show_action")
              %a.btn.btn-mini{href: edit_meeting_path(entity)}=                       t(:".edit_action")
              %a.btn.btn-mini.btn-danger{href: confirm_destroy_meeting_path(entity)}= t(:".destroy_action")
