%table.table.table-bordered.table-hover.table-striped.suite-calendar-table
  %tbody
    - calendar_entries(suite).each do |entity|
      %tr
        %td.icon
          - case entity
          - when Evaluation
            %i.icon-tasks
          - when Meeting
            %i.icon-time
        %td.date= link_to(entity.date, entity)
        %td.name= link_to(entity.name, entity)
        %td.actions
          - case entity
          - when Evaluation
            %a.btn.btn-mini.btn-primary{href: report_evaluation_path(entity)}= t(:".evaluation_report_action")
            = evaluation_progress_bar(entity)
          - when Meeting
            - if entity.completed?
              %i.icon-ok{title: t(:".meeting_completed")}
            %a.btn.btn-mini{href: report_meeting_path(entity)}= t(:".meeting_report_action")
