- can_change  ||= false
- can_control ||= false

%table.table.table-striped.users-table.suite-users-table{"data-on-url" => add_contributors_suite_path(),
   "data-off-url" => remove_contributors_suite_path() }
  %tbody
    - suite.users.each do |user|
      %tr
        %td.email
          = user.name
          - if can_control && !user.has_role?(:suite_manager, suite)
            .fieldset.form-inline
              %label.checkbox
                = check_box_tag "contributor-toggler-#{user.id}", user.id, user.has_role?(:suite_contributor, suite)
                %small= t(:".can_change")

        %td.actions
          - if can_change and !user.has_role? :admin and !user.is_admin_of?(current_user.active_instance)
            = form_for :suite,
              url: remove_users_suite_path(suite),
              method: :delete,
              html: { id: "remove-user-#{user.id}-form" } do |f|

              = f.hidden_field :user_id, value: user.id

              .btn-group
                = f.submit t(:".remove_user_action"), class: "btn btn-mini btn-danger"
