- autofocus_taken ||= false

= semantic_form_for suite, html: { class: "form-horizontal" } do |f|

  = f.inputs do

    = f.hidden_field :template_id
    = f.hidden_field :is_template

    = f.input :name, required: true, input_html: { required: true, autofocus: !autofocus_taken }

    - if suite.new_record? && suite.template && !suite.is_template?
      .control-group
        .controls
          = f.action :submit, label: t(:".save_action"), button_html: { class: "btn btn-primary"}
          %a.btn{href:suite.new_record? ? suites_path() : url_for(suite)}= t(:".cancel_action")

  - if suite.new_record? 
    - if !suite.is_template?
      - if suite.template
        = f.inputs Evaluation.model_name.human(count: 2) do
          = f.inputs for: :evaluations do |ef|
            = ef.hidden_field :template_id
            = ef.hidden_field :type
            = ef.hidden_field :max_result
            = ef.hidden_field :colors_serialized
            = ef.hidden_field :stanines_serialized
            = ef.hidden_field :series_id, value: ef.object.series.name if ef.object.series_id

            = ef.input :name,                              input_html: { readonly: true }
            = ef.input :date, as: :string, required: true, input_html: { required: true, class: "datepicker" }

        = f.inputs Meeting.model_name.human(count: 2) do 
          = f.inputs for: :meetings do |mf|
            = mf.hidden_field :agenda

            = mf.input :name,                              input_html: { readonly: true }
            = mf.input :date, as: :string, required: true, input_html: { required: true, class: "datepicker" }

      = f.inputs Participant.model_name.human(count: 2), for: :participants, id: "new_participant" do |pf|
        = pf.input :student_id,
          as: :hidden,
          input_html: { class: "student-autocomplete-field span8",
            data: { url: search_students_path(format: :json),
              multiple: true,
              placeholder: t(:".student_placeholder") } }

        = pf.input :group_id,
          as: :hidden,
          input_html: { class: "group-autocomplete-field span8",
            data: { url: search_groups_path(format: :json),
              placeholder: t(:".group_placeholder"),
              multiple: true } }

    - elsif suite.template
      = f.inputs for: :evaluations do |ef|
        = ef.hidden_field :template_id
        = ef.hidden_field :type
        = ef.hidden_field :max_result
        = ef.hidden_field :colors_serialized
        = ef.hidden_field :stanines_serialized
        = ef.hidden_field :name

      = f.inputs for: :meetings do |mf|
        = mf.hidden_field :name
        = mf.hidden_field :agenda


  = f.actions do
    = f.action :submit, label: t(:".save_action"), button_html: { class: "btn btn-primary"}
    %a.btn{href:suite.new_record? ? suites_path() : url_for(suite)}= t(:".cancel_action")
