= semantic_form_for suite do |f|

  = f.inputs do

    = f.input :name, required: true, input_html: { required: true, autofocus: true }

  = f.actions do
    = f.action :submit, label: t(:".save_action"), button_html: { class: "btn btn-primary"}
    %a.btn{href:suites_path(f.object)}= t(:".cancel_action")
