- active ||= nil
- suite  ||= nil

- content_for :title do
  - (suite && suite.is_template?) || active == :template ? t(:".templates_title") : Suite.model_name.human(count: 2)

%ul.nav.nav-tabs
  - if suite
    %li{class: active_if(active == :show)}
      %a{href:suite_path(suite)}= t(:".show_action")
    %li{class: active_if(active == :edit)}
      %a{href:edit_suite_path(suite)}= t(:".edit_action")
    %li{class: active_if(active == :destroy)}
      %a{href:confirm_destroy_suite_path(suite)}= t(:".destroy_action")

  - else
    %li{class: active_if(active == :index)}
      %a{href:suites_path()}= t(:".index_action")
    %li{class: active_if(active == :template)}
      %a{href:template_suites_path()}= t(:".templates_action")
    %li{class: active_if(active == :new)}
      %a{href:new_suite_path()}= t(:".new_action")
