%h1
  = @suite.name_was
  %small= @suite.is_template? ? t(:".template_title") : Suite.model_name.human

= render partial: "navigation", locals: { suite: @suite, active: :edit }

= closed_suite_message(@suite)

= render partial: "form", object: @suite, as: :suite
