- if @suite.is_template?
  %h1= t(:"template.suites.title")
- else
  %h1= Suite.model_name.human(count: 2)
  = render partial: "navigation", locals: { active: :new }

%h3= t(:".new_action")

- if @suite.template
  .alert.alert-info= t(:".from_template", template_name: @suite.template.name)
- else
  = semantic_form_for @suite,
    url: new_from_template_suites_path(),
    html: { id: "new_suite_from_template", class: "form-horizontal select-suite-template-form" } do |f|

    = f.hidden_field :is_template

    .control-group
      = f.label :template_id, class: "control-label"
      .controls
        = f.hidden_field :template_id,
          class: "suite-template-autocomplete-field",
          data: { url: search_template_suites_path(),
            placeholder: t(:".template_placeholder")}
        = f.submit t(:".use_template_action"), class: "btn btn-primary", data: { "loading-text" => t(:wait) }

= render partial: "suites/form", locals: { suite: @suite }
