%h1
  = t(".title")
  %small= @suite.name

%a{href:suite_path(@suite)}= t(:".return_to_suite")

%hr
= semantic_form_for :suite,
  url: add_users_suite_path(@suite),
  method: :put,
  html: { id: "select-users-form" } do |f|

  = f.label t(:"evaluations.show.users"), class: "control-label", onmouseover: "noUserSelected();"
  = f.inputs do
    = f.input :user_id,
      label: false,
      value: nil,
      as: :hidden,
      input_html: { class: "user-autocomplete-field span8",
        data: { url: search_users_path(format: :json),
          multiple: true,
          autofocus: true,
          placeholder: t(:".users_placeholder") } }

  = f.actions do
    = f.action :submit, label: t(:".save_action"), button_html: { class: "btn btn-primary", id: "select_user_action", disabled: true, onmouseover: "noUserSelected();"}
    %a.btn{href:url_for(@suite)}= t(:".cancel_action")
