%h1
  = @suite.name
  %small= @suite.is_template? ? t(:".template_title") : Suite.model_name.human

= render partial: "navigation", locals: { suite: @suite, active: :show }

- if @suite.is_template?
  .alert.alert-info= t(:".template_notice")

.row-fluid
  .span9
    .btn-group
      %a.btn.btn-small{href: new_suite_evaluation_path(@suite)}= t(:".evaluation.add")
      %a.btn.btn-small{href: new_suite_meeting_path(@suite)}=    t(:".meeting.add")
    - if @suite.is_template?
      = render partial: "associations", object: @suite, as: :suite
    - else
      = render partial: "calendar",     object: @suite, as: :suite

  .span3.sidebar
    - unless @suite.is_template?
      .well
        %ul.nav.nav-list
          %li.nav-header= t(:".visualize")
          %li
            %a{href:visualize_suite_path(@suite)}= t(:".color_chart")

- unless @suite.is_template?
  .row-fluid
    .span6
      %h3= Participant.model_name.human(count: 2)
      .btn-group
        %a.btn.btn-small{href: new_suite_participant_path(@suite)}= t(:".participant.add")
      = render partial: "participants/list", object: @suite.participants, as: :participants
    .span6
      %h3= t(:".users.title")
      .btn-group
        %a.btn.btn-small{href: select_users_suite_path(@suite)}= t(:".users.add")
      = render partial: "connected_users", object: @suite, as: :suite
