%h1
  = @suite.name
  %small= @suite.is_template? ? t(:".template_title") : Suite.model_name.human

= render partial: "navigation", locals: { suite: @suite, active: :show }

- if @suite.is_template?
  .alert.alert-info= t(:".template_notice")

.row-fluid
  - if @suite.is_template?
    .btn-group.suite-actions
      %a.btn.btn-small{href: new_suite_evaluation_path(@suite)}= t(:".evaluation.add")
      %a.btn.btn-small{href: new_suite_meeting_path(@suite)}=    t(:".meeting.add")
    = render partial: "associations", object: @suite, as: :suite
  - else
    .span8
      .btn-group.suite-actions
        %a.btn.btn-small{href: new_suite_evaluation_path(@suite)}=  t(:".evaluation.add")
        %a.btn.btn-small{href: new_suite_meeting_path(@suite)}=     t(:".meeting.add")
        %a.btn.btn-small{href: new_suite_participant_path(@suite)}= t(:".participant.add")
        %a.btn.btn-small{href: select_users_suite_path(@suite)}=    t(:".users.add")
      = render partial: "calendar", object: @suite, as: :suite

    .span4
      - open, closed = @suite.activities.partition { |a| a.status.open? }
      #activity-accordion.accordion
        - [ [:open, open], [:closed, closed] ].each do |name, activities|
          - indicate_active = name == :open && !activities.blank?
          .accordion-group
            .accordion-heading
              %a.accordion-toggle{href: "#activity-accordion-#{name}", data: { toggle: "collapse", parent: "#activity-accordion"}}
                = t(:".activity.#{name}_title")
                %span.badge{class: indicate_active ? "badge-success" : ""}= activities.length
            .accordion-body.collapse{id: "activity-accordion-#{name}", class: indicate_active ? "in" : ""}
              .accordion-inner
                = render partial: "activities/list", locals: { activities: activities }


- unless @suite.is_template?
  .row-fluid
    .span6
      %h3= Participant.model_name.human(count: 2)
      .btn-group
        %a.btn.btn-small{href: new_suite_participant_path(@suite)}= t(:".participant.add")
      = render partial: "participants/list", object: @suite.participants.order(current_name_order(:students)), as: :participants
    .span6
      %h3= t(:".users.title")
      .btn-group
        %a.btn.btn-small{href: select_users_suite_path(@suite)}= t(:".users.add")
      = render partial: "connected_users", object: @suite, as: :suite
