%h1= @suite.name

= render partial: "navigation", locals: { suite: @suite, active: :show }

.row-fluid
  .span9
    .btn-group
      %a.btn.btn-small{href: new_suite_evaluation_path(@suite)}= t(:".evaluation.add")
      %a.btn.btn-small{href: new_suite_meeting_path(@suite)}=    t(:".meeting.add")
    = render partial: "calendar", object: @suite, as: :suite

  .span3.sidebar
    .well
      %ul.nav.nav-list
        %li.nav-header= t(:".visualize")
        %li
          %a{href:visualize_suite_path(@suite)}= t(:".color_chart")

.row-fluid
  %h3= Participant.model_name.human(:count => 2)
  .btn-group
    %a.btn.btn-small{href: new_suite_participant_path(@suite)}= t(:".participant.add")
  = render partial: "participants/list", object: @suite.participants, as: :participants
