- active  ||= nil
- meeting ||= nil
- suite   ||= meeting.try(:suite)

- content_for :title do
  - Meeting.model_name.human(count: 2)

%ul.nav.nav-tabs
  - if meeting
    %li{class: active_if(active == :show)}
      %a{href:meeting_path(meeting)}= t(:".show_action")
    - if suite && !suite.is_template? && can?(:report, meeting)
      %li{class: active_if(active == :report)}
        %a{href:report_meeting_path(meeting)}= t(:".meeting_report_action")
    - if can?(:destroy, meeting)
      %li.secondary-tab{class: active_if(active == :destroy)}
        %a{href:confirm_destroy_meeting_path(meeting)}= t(:".destroy_action")
    - if can?(:destroy, meeting)
      %li.secondary-tab{class: active_if(active == :edit)}
        %a{href:edit_meeting_path(meeting)}= t(:".edit_action")

  - else
    %li{class: active_if(active == :new)}
      %a{href:new_suite_meeting_path(suite)}= t(:".new_action")
  %li
    %a{href:suite_path(suite)}= t(:".return_to_suite")
