%h1
  = @meeting.name
  %small= @meeting.suite.name

= render partial: "navigation", locals: { meeting: @meeting, active: :edit }

= closed_suite_message(@meeting.suite)

= render partial: "form", object: @meeting, as: :meeting
