%h1
  = @meeting.name
  %small= @meeting.suite.name

= render partial: "navigation", locals: { meeting: @meeting, active: :report }

- content_for :page_end do
  = tinymce_assets
  = tinymce
  = tinymce_autofocus("meeting_notes")

= semantic_form_for @meeting,
  url: submit_report_meeting_path(@meeting),
  html: { id: "meeting-report-form" } do |f|

  = f.inputs do
    .alert.alert-info= t(:".#{f.object.new_record? ? "new" : "edit"}_for_suite", suite_name: f.object.suite.name)

    = f.hidden_field :completed

    = f.input :notes, input_html: { class: "input-block-level tinymce" }

  = f.inputs Activity.model_name.human(count: 2),
    class: "activities-fields",
    data: { tinymce: "#{tinymce_javascript()}" } do

    = f.inputs for: :activities do |af|

      .span6
        = af.input :name, input_html: { class: "input-block-level" }
        = af.input :date, as: :string, input_html: { class: "datepicker" }
        = af.input :type, as: :radio

        = af.input :students_and_groups,
          as: :hidden,
          input_html: { class: "activity-students-autocomplete-field",
            data: { url: search_participants_suite_path(f.object.suite),
              data: af.object.students_and_groups_select2_data.to_json,
              placeholder: t(:".activity_students_placeholder"),
              multiple: true } }

        = af.hidden_field :status

      .span6
        = af.input :description, input_html: { class: "input-block-level tinymce", rows: 10 }

    %p
      %a.btn.add-activity-action(href="#")= t(:".add_activity_action")

  = f.actions do
    = f.action :submit, label: t(:".save_action"), button_html: { class: "btn btn-primary"}
    %a.btn{href:f.object.new_record? ? suite_path(f.object.suite) : meeting_path(f.object)}= t(:".cancel_action")

