%h1
  = @meeting.name
  %small= @meeting.suite.name

= render partial: "navigation", locals: { meeting: @meeting, active: :report }

- content_for :page_end do
  = tinymce_assets
  = tinymce

= semantic_form_for @meeting, url: submit_report_meeting_path(@meeting) do |f|

  = f.inputs do
    .alert.alert-info= t(:".#{f.object.new_record? ? "new" : "edit"}_for_suite", suite_name: f.object.suite.name)

    = f.input :completed, as: :hidden

    = f.input :notes, input_html: { class: "input-block-level tinymce" }

  = f.actions do
    = f.action :submit, label: t(:".save_action"), button_html: { class: "btn btn-primary"}
    %a.btn{href:f.object.new_record? ? suite_path(f.object.suite) : meeting_path(f.object)}= t(:".cancel_action")

