%h1
  = @meeting.name
  %small= @meeting.suite.name

= render partial: "navigation", locals: { meeting: @meeting, active: :show }

%table.table.table-bordered.details-table.meeting-details-table
  %tbody
    %tr.suite
      %th= Suite.model_name.human
      %td= @meeting.suite.name
    %tr.name
      %th= Meeting.human_attribute_name(:name)
      %td= @meeting.name
    - if @meeting.has_regular_suite?
      %tr.date
        %th= Meeting.human_attribute_name(:date)
        %td= @meeting.date
    %tr.agenda
      %th= Meeting.human_attribute_name(:agenda)
      %td= @meeting.agenda.try(:html_safe)
    - if @meeting.has_regular_suite?
      %tr.completed
        %th= Meeting.human_attribute_name(:completed)
        %td= @meeting.completed ? t(:yes) : t(:no)
      %tr.notes
        %th= Meeting.human_attribute_name(:notes)
        %td= @meeting.notes.try(:html_safe)
      - if @meeting.completed?
        %tr.activities
          %th= Activity.model_name.human(count: 2)
          %td= render partial: "activities/list", locals: { activities: @meeting.activities }
