%table.table.table-bordered.details-table.student-details-popover-table
  %tbody
    %tr
      %th= Student.human_attribute_name(:personal_id)
      %td= student.personal_id
    %tr
      %th= Student.human_attribute_name(:gender)
      %td= student.gender_text
    - student.data_humanized.each_pair do |key, value|
      %tr
        %th= link_to(key, add_student_data_color_table_path(params[:color_table_id], key: key), method: :put)
        %td= value

