%h1= t(:".title")

= render partial: "navigation", locals: { active: :index }

%table.table.table-striped.students-table
  %thead
    %tr
      %th.name= Student.human_attribute_name(:name)
      %th.actions &nbsp;
    - @students.each do |student|
      %tr
        %td.name= student.name
        %td.actions
          .btn-group
            %a.btn.btn-mini{href: student_path(student)}=                            t(:".show_action")
            %a.btn.btn-mini{href: edit_student_path(student)}=                       t(:".edit_action")
            %a.btn.btn-mini.btn-danger{href: confirm_destroy_student_path(student)}= t(:".destroy_action")
  %tbody

= paginate(@students)
