%h1= Student.model_name.human(count: 2)

= render partial: "navigation", locals: { active: :index }

%table.table.table-striped.students-table
  %thead
    %tr
      %th.name=   Student.human_attribute_name(:name)
      %th.groups= Group.model_name.human(count: 2)

  %tbody
    - @students.each do |student|
      %tr
        %td.name= link_to(student.name, student)
        %td.groups
          %small= student.groups.collect(&:name).join(", ")

= paginate(@students)
