%h1= @student.name

= render partial: "navigation", locals: { student: @student, active: :show }

%table.table.table-bordered.details-table.student-details-table
  %tbody
    %tr.name
      %th= Student.human_attribute_name(:name)
      %td= @student.name

%h3= Group.model_name.human(:count => 2)

= form_for @student, url: remove_groups_student_path(@student), method: :delete do |f|

  .btn-student
    %a.btn.btn-small{href: select_groups_student_path(@student)}= t(:".select_groups_action")
    = submit_tag t(:".remove_groups_action"), class: "btn btn-small btn-danger"

  %table.table.table-striped.groups-table
    %thead
      %tr
        %th.select &nbsp;
        %th.name= Group.human_attribute_name(:name)
        %th.actions &nbsp;
    %tbody
      - @student.groups.each do |group|
        %tr
          %td.select
            = check_box_tag "group_ids[]", group.id, false, id: "group_ids_#{group.id}"
          %td.name
            %label(for="group_ids_#{group.id}")
              = group.name
              %small= [ group.parent.try(:name), group.parent.try(:parent).try(:name) ].compact.join(", ")
          %td.actions
            %a.btn.btn-mini{href:url_for(group)}= t(:".show_action")
