.page-header
  %h1
    = t(:".import")
    %small= t(:".student_data")

- if @importer.valid?
  .alert.alert-block.alert-success
    = t(:".correct_data")

  = form_tag({ action: "create" }, { method: :post }) do

    = hidden_field_tag :filename, @filename

    .form-actions
      = submit_tag t(:".import"), class: "btn btn-success", name: nil
      = link_to t(:".cancel_action"), new_import_student_data_path(), class: "btn"

    %table.table.table-striped.table-condensed.import-confirmation-list
      %thead
        %tr
          %th.new_record &nbsp;
          %th.school=      t(:".school")
          %th.grade=       t(:".grade")
          %th.personal_id= Student.human_attribute_name(:personal_id)
          %th.last_name=   Student.human_attribute_name(:last_name)
          %th.first_name=  Student.human_attribute_name(:first_name)
          %th.gender=      Student.human_attribute_name(:gender)
      %tbody
        - @importer.valid.each do |d|
          - a = d[:attributes]
          %tr
            %td.new_record
              - unless d[:model].new_record?
                %i.icon-retweet{title: t(:".student_update")}
            %td.school=      a[:school]
            %td.grade=       a[:grade]
            %td.personal_id= a[:personal_id]
            %td.last_name=   a[:last_name]
            %td.first_name=  a[:first_name]
            %td.gender=      t(:"enumerize.gender.#{a[:gender]}")

    .form-actions
      = submit_tag t(:".import"), class: "btn btn-success", name: nil
      = link_to t(:".cancel_action"), new_import_student_data_path(), class: "btn"

- else
  .alert.alert-block.alert-errors
    = t(:".errors_found")

  %table.table.table-condensed.import-confirmation-list
    %thead
      %tr
        %th.school=      t(:".school")
        %th.grade=       t(:".grade")
        %th.personal_id= Student.human_attribute_name(:personal_id)
        %th.last_name=   Student.human_attribute_name(:last_name)
        %th.first_name=  Student.human_attribute_name(:first_name)
        %th.gender=      Student.human_attribute_name(:gender)
    %tbody
      - @importer.invalid.each do |d|
        - a = d[:attributes]
        %tr
          %td.school=      a[:school]
          %td.grade=       a[:grade]
          %td.personal_id= a[:personal_id]
          %td.last_name=   a[:last_name]
          %td.first_name=  a[:first_name]
          %td.gender=      t(:"enumerize.gender.#{a[:gender]}")
        %tr.error
          %td(colspan=6)
            %ul
              - d[:model].errors.full_messages.each do |err|
                %li= err
