.page-header
  %h1= t(:".title")

.row-fluid
  .span6
    - if !@suites.blank?
      %table.table.table-bordered.table-hover.dashboard-table
        %thead
          %tr
            %th
              = t(:".my_suites")
              = link_to suites_path(), class: "pull-right" do
                = t(:".more")
                %i.icon-circle-arrow-right
        %tbody
          - @suites.each do |suite|
            %tr
              %td= link_to suite.name, suite

    - if !@meetings.blank?
      %table.table.table-bordered.table-hover.dashboard-table
        %thead
          %tr
            %th(colspan=3)
              = t(:".upcoming_meetings")
        %tbody
          - @meetings.each do |meeting|
            %tr
              %td= link_to meeting.suite.name, meeting.suite
              %td= l meeting.date
              %td.main= link_to meeting.name, meeting

  .span6
    - if !@evaluations.blank?
      %table.table.table-bordered.table-hover.dashboard-table
        %tbody
          - @evaluations.each do |key, evaluations|
            %tr
              %th(colspan=3)= t(:".#{key}_evaluations")
            - evaluations.each do |evaluation|
              %tr
                %td= link_to evaluation.suite.name, evaluation.suite
                %td.main
                  = link_to evaluation.name, evaluation
                  %small.date= l evaluation.date
                %td.actions
                  %a.btn.btn-mini.btn-primary{href: report_evaluation_path(evaluation)}= t(:".evaluation_report_action")
                  = evaluation_progress_bar(evaluation)

    - if !@activities.blank?
      %table.table.table-bordered.table-hover.dashboard-table.activity-list
        %thead
          %tr
            %th(colspan=2)
              = t(:".active_activities")
        %tbody
          - @activities.each do |activity|
            %tr
              %td= link_to activity.suite.name, activity.suite
              %td.main{class: activity.overdue? ? "overdue" : ""}
                = link_to activity do
                  %span.name= activity.name
                  - if activity.start_date || activity.end_date
                    - dates = []
                    - dates << l(activity.start_date) if activity.start_date
                    - dates << l(activity.end_date)   if activity.end_date
                    %small.date= dates.join(" - ")
                  %span.label= activity.type_text
