= semantic_form_for participant do |f|

  = f.inputs do

    .alert.alert-info= t(:".for_suite", suite_name: f.object.suite.name)

    = f.hidden_field :suite_id

    = f.input :student_id,
      as: :hidden,
      input_html: { class: "student-autocomplete-field",
        data: { url: search_students_path(format: :json),
          multiple: true,
          autofocus: true,
          placeholder: t(:".student_placeholder") } }

    = f.input :group_id,
      as: :hidden,
      input_html: { class: "group-autocomplete-field",
        data: { url: search_groups_path(format: :json),
          placeholder: t(:".group_placeholder"),
          multiple: true } }

  = f.actions do
    = f.action :submit, label: t(:".save_action"), button_html: { class: "btn btn-primary"}
    %a.btn{href:suite_path(f.object.suite)}= t(:".cancel_action")
