- can_change ||= false
- participants = participants.order("groups.name nulls first, #{current_name_order(:students)}")

%table.table.table-striped.participants-table
  %tbody
    - previous_group = nil
    - participants.each do |participant|
      - if participant.group != previous_group
        - previous_group = participant.group
        %tr
          %th.group(colspan="2")= participant.group.name
      %tr
        %td.name
          = link_to(student_name(participant.student), suite_student_path(participant.suite, participant.student))
          %small= participant.group_names(:open)
        %td.actions
          - if can_change
            .btn-group
              %a.btn.btn-mini.btn-danger{href: confirm_destroy_participant_path(participant)}
                = t(:".destroy_action")
