= semantic_form_for group, html: { id: "group-form", class: "form-horizontal" } do |f|

  = f.inputs do

    = f.input :name, required: true, input_html: { required: true, autofocus: true, class: "span6" }

    - if f.object.new_record?
      = f.input :parent_id,
        as: :hidden,
        input_html: { class: "group-autocomplete-field span6",
          data: { url: search_groups_path(format: :json),
            placeholder: t(:".parent_placeholder")  } }

  = f.actions do
    = f.action :submit, label: t(:".save_action"), button_html: { class: "btn btn-primary"}
    %a.btn{href:f.object.new_record? ? groups_path() : group_path(f.object)}= t(:".cancel_action")
