- active ||= nil
- group  ||= nil

- content_for :title do
  - Group.model_name.human(count: 2)

%ul.nav.nav-tabs.nav-split
  - if group
    %li.primaries
      %ul.nav.nav-tabs.nav-split
        - if can? :show, group
          %li{class: active_if(active == :show)}
            %a{href:group_path(group)}= t(:".show_action")
        - if can? :select_students, group
          %li{class: active_if(active == :select_students)}
            %a{href:select_students_group_path(group)}= t(:".select_students_action")
        - if can? :move_students, group
          %li{class: active_if(active == :move_students)}
            %a{href:move_students_group_path(group)}= t(:".move_students_action")
        - if can? :select_users, group
          %li{class: active_if(active == :select_users)}
            %a{href:select_users_group_path(group)}= t(:".select_users_action")

    %li.secondaries
      %ul.nav.nav-tabs.nav-split
        - if can? :create, Group
          %li{class: active_if(active == :new)}
            %a{href:new_group_path(copy_from: group.id)}= t(:".copy_action")
        - if can? :edit, group
          %li{class: active_if(active == :edit)}
            %a{href:edit_group_path(group)}= t(:".edit_action")
        - if can?(:change_status, group)
          %li{class: active_if(active == :confirm_status_change)}
            %a{href:confirm_status_change_group_path(group)}
              = t(:".confirm_status_change_for_#{group.status_changed? ? group.status_was : group.status}")
        - if can? :destroy, group
          %li{class: active_if(active == :destroy)}
            %a{href:confirm_destroy_group_path(group)}= t(:".destroy_action")

  - else
    %li.primaries
      %ul.nav.nav-tabs.nav-split
        %li{class: active_if(active == :index)}
          %a{href:groups_path()}= t(:".index_action")
        %li{class: active_if(active == :closed)}
          %a{href:closed_groups_path()}= t(:".closed_action")
        - if can? :create_new, Group
          %li{class: active_if(active == :new)}
            %a{href:new_group_path()}= t(:".new_action")
