%h1= Group.model_name.human(count: 2)

= render partial: "navigation", locals: { active: :index }

= simple_search_form(:name_cont)

%table.table.table-striped.groups-table
  %thead
    %tr
      %th.name= Group.human_attribute_name(:name)
      %th.parent= Group.human_attribute_name(:parent)
    = render_group_tree(@groups)
  %tbody

= paginate(@groups)
