%h1= t(:".title")

= render partial: "navigation", locals: { active: :index }

%table.table.table-striped.groups-table
  %thead
    %tr
      %th.name= Group.human_attribute_name(:name)
      %th.parent= Group.human_attribute_name(:parent)
      %th.actions &nbsp;
    - @groups.each do |group|
      %tr
        %td.name= group.name
        %td.parent
          %small= [ group.parent.try(:name), group.parent.try(:parent).try(:name) ].compact.join(", ")
        %td.actions
          .btn-group
            %a.btn.btn-mini{href: group_path(group)}=                            t(:".show_action")
            %a.btn.btn-mini{href: edit_group_path(group)}=                       t(:".edit_action")
            %a.btn.btn-mini.btn-danger{href: confirm_destroy_group_path(group)}= t(:".destroy_action")
  %tbody

= paginate(@groups)
