%h1
  = @group.name
  %small= Group.model_name.human

= render partial: "navigation", locals: { group: @group, active: :show }

%table.table.table-bordered.details-table.group-details-table
  %tbody
    %tr.name
      %th= Group.human_attribute_name(:name)
      %td= @group.name
    %tr.parent
      %th= Group.human_attribute_name(:parent)
      %td= @group.parent ? link_to(@group.parent.name, @group.parent) : "-"
    %tr.children
      %th= Group.human_attribute_name(:children)
      %td
        - unless @group.children.blank?
          %ul.unstyled
            - @group.children.each do |child|
              %li= link_to(child.name, child)

.row-fluid
  .span6
    %h3= Student.model_name.human(:count => 2)

    - if can? :update, @group
      %a.btn.btn-small{href: select_students_group_path(@group)}= t(:".select_students_action")

    = form_for @group,
        url: remove_students_group_path(@group),
        html: { class: "prevent-navigation-confirmation" },
        method: :delete do |f|
      %table.table.table-striped.students-table
        %thead
          %tr
            - if can? :update, @group
              %th.select &nbsp;
            %th.name= Student.human_attribute_name(:name)
            %th.actions &nbsp;
        %tbody
          - @group.students.each do |student|
            %tr
              - if can? :update, @group
                %td.select
                  = check_box_tag "student_ids[]", student.id, false, id: "student_ids_#{student.id}"
              %td.name
                %label(for="student_ids_#{student.id}")= student.name
              %td.actions
                %a.btn.btn-mini{href:url_for(student)}= t(:".show_action")

      - if can? :update, @group
        = submit_tag t(:".remove_students_action"), class: "btn btn-small btn-danger"

  .span6
    %h3= User.model_name.human(:count => 2)

    - if can? :update, @group
      %a.btn.btn-small{href: select_users_group_path(@group)}= t(:".select_users_action")

    = form_for @group,
        url: remove_users_group_path(@group),
        html: { class: "prevent-navigation-confirmation" },
        method: :delete do |f|
      %table.table.table-striped.users-table
        %thead
          %tr
            - if can? :update, @group
              %th.select &nbsp;
            %th.name= User.human_attribute_name(:name)
        %tbody
          - @group.users.each do |user|
            %tr
              - if can? :update, @group
                %td.select
                  = check_box_tag "user_ids[]", user.id, false, id: "user_ids_#{user.id}"
              %td.name
                %label(for="user_ids_#{user.id}")= user.name

      - if can? :update, @group
        = submit_tag t(:".remove_users_action"), class: "btn btn-small btn-danger"
