%h1= User.model_name.human

= simple_search_form(:name_or_email_cont)

%table.table.table-striped.users-table
  %thead
    %tr
      %th.name=   Suite.human_attribute_name(:name)
      %th.email=  Suite.human_attribute_name(:email)
      %th.actions &nbsp;
  %tbody
    - @users.each do |user|
      %tr
        %td.name=  user.name
        %td.email= user.email
        %td.actions
          .btn-group
            %a.btn.btn-mini{href: edit_user_path(user)}= t(:".edit_action")
            - unless current_user == user
              %a.btn.btn-danger.btn-mini{href: confirm_destroy_user_path(user)}= t(:".destroy_action")

= paginate(@users)
