%h1= User.model_name.human

- if can? :create, User
  = link_to t(:".new"), new_user_path, class: "btn"
  <br/> <br/>

- if can? :view, User
  = simple_search_form(:name_or_email_cont)

  %table.table.table-striped.users-table
    %thead
      %tr
        %th.name=   User.human_attribute_name(:name)
        %th.instance=   Instance.model_name.human(count: 1)
        %th.email=  Suite.human_attribute_name(:email)
        %th.admin_of=  t(:".roles")
        %th.actions &nbsp;
    %tbody
      - @users.each do |user|
        %tr
          %td.name=  user.name
          %td.name=  user.instances.map(&:name).join(",")
          %td.email= user.email
          %td.admin_instance
            - if user.has_role?(:admin)
              = t(:"roles.admin")
              %br
            - if user.has_role?(:planner)
              = t(:"roles.planner")
              %br
            - if user.is_instance_admin?
              = t(:".instance_admin")
              = user.admin_instance.name
              %br
          %td.actions
            .btn-group
              - if manageable?(user)
                %a.btn.btn-mini{href: edit_user_path(user)}= t(:".edit_action")
              - if manageable?(user) && current_user != user
                %a.btn.btn-danger.btn-mini{href: confirm_destroy_user_path(user)}= t(:".destroy_action")

  = paginate(@users)
