= semantic_form_for entity, method: :delete do |f|

  = hidden_field_tag :return_to, params[:return_to]

  .alert.alert-block.alert-error
    %p= message

  = f.actions do
    = f.action :submit, label: t(:".destroy_action"), button_html: { class: "btn btn-danger"}
    %a.btn{href:cancel_path}= t(:".cancel_action")
