%a#template-selector-toggler.dropdown-toggle{data: { toggle: "dropdown" }}
  = t(:".title")
  %span.caret
%ul.dropdown-menu
  - if can? :import_instructions, Instance
    %li= link_to t(:".instructions"), new_import_instruction_path()
  - if can? :import_evaluation_templates, Instance
    %li= link_to t(:".evaluation_templates"), new_import_evaluation_template_path()
  - if can? :import_student_data, Instance
    %li= link_to t(:".student_data"), new_import_student_data_path()
  - if can? :import_results, Instance
    %li= link_to t(:".results"), new_import_result_path()
