- suite ||= nil
- evaluation ||= nil

- if can? :list, Suite
  %li{class: active_if(working_with_suite?(suite, evaluation))}
    %a{href: suites_path()}= Suite.model_name.human(count: 2)
- if can? :manage, Student
  %li{class: active_if(params?(controller: "students"))}
    %a{href: students_path()}= Student.model_name.human(count: 2)
- if can? :manage, Group
  %li{class: active_if(params?(controller: "groups"))}
    %a{href: groups_path()}= Group.model_name.human(count: 2)

- if can? :manage, Evaluation
  %li.nav-header= t(:".generics")
  %li{class: active_if(working_with_generic_evaluation?(evaluation))}
    %a{href: generic_evaluations_path()}= t(:"generic.evaluations.title")
