- if @suite
  %h1
    = @suite.name
    %small= Suite.model_name.human

  - locals_base = { suite: @suite }
  = render partial: "suites/navigation", locals: { active: :charts }.merge(locals_base)

- elsif @student
  %h1
    = @student.name
    %small= Student.model_name.human

  - locals_base = { student: @student }
  = render partial: "students/navigation", locals: { active: :charts }.merge(locals_base)

= render partial: "navigation", locals: { active: :result_line }.merge(locals_base)
= render partial: "filter", locals: locals_base

- gchart_init
- gchart id:        "chart",
  type:             :line,
  url:              url_for(params.merge(format: :json)),
  height:           400,
  curveType:        "function",
  interpolateNulls: true,
  vAxes:            [ { format: "#%", maxValue: 1.0 } ],
  vAxis:            { viewWindowMode: "maximized" }

#chart.gchart
