%h1
  = @suite.name
  %small= Suite.model_name.human

= render partial: "suites/navigation", locals: { suite: @suite, active: :charts }
= render partial: "navigation", locals: { suite: @suite, active: :stanine_column }

= render partial: "filter", locals: { suite: @suite }

- num_participants = @suite.participants.count

- gchart_init

- gchart id: "main-chart",
  type:   :column,
  url:    url_for(params.merge(format: :json)),
  height: 400,
  vAxes:  [ { title: t(:".amount"), minValue: 0 } ],
  hAxis:  { title: t(:".stanine") },
  series: { 0 => { type: "line" } }

#main-chart.gchart

- @evaluations.each do |evaluation|
  %h3= "#{evaluation.name} (#{evaluation.date})"
  - chart_container_id = "evaluation-#{evaluation.id}-chart"

  .gchart{id: chart_container_id}
  - gchart id: chart_container_id,
    type:      :column,
    url:       url_for(params.merge(format: :json, evaluation_id: evaluation.id)),
    height:    400,
    isStacked: true,
    vAxes:     [ { title: t(:".amount"), minValue: 0 } ],
    hAxis:     { title: t(:".stanine") },
    series:    { 0 => { type: "line" } },
    colors:    ["#000000", "#da4f49", "#f4f809", "#5bb75b"]
