%h1
  = @activity.name
  %small= @activity.suite.name

= render partial: "navigation", locals: { activity: @activity, active: :show }

%table.table.table-bordered.details-table.activity-details-table
  %tbody
    %tr.type
      %th= Activity.human_attribute_name(:type)
      %td
        %span.label= @activity.type_text
    %tr.suite
      %th= Suite.model_name.human
      %td= link_to @activity.suite.name, @activity.suite
    - if @activity.meeting
      %tr.meeting
        %th= Activity.human_attribute_name(:meeting)
        %td= link_to @activity.meeting.name, @activity.meeting
    - if @activity.start_date
      %tr.start-date
        %th= Activity.human_attribute_name(:start_date)
        %td= l @activity.start_date
    - if @activity.end_date
      %tr.end-date
        %th= Activity.human_attribute_name(:end_date)
        %td= l @activity.end_date
    %tr.status
      %th= Activity.human_attribute_name(:status)
      %td
        %span.label{class: @activity.open? ? "label-success" : ""}= @activity.status_text
    - unless @activity.groups.blank?
      %tr.groups
        %th= Activity.human_attribute_name(:groups)
        %td
          %ul.unstyled
            - @activity.groups.each do |group|
              %li= link_to group.name, group
    - unless @activity.students.blank?
      %tr.students
        %th= Activity.human_attribute_name(:students)
        %td
          %ul.unstyled
            - @activity.students.each do |student|
              %li= link_to student.name, student
    %tr.description
      %th= Activity.human_attribute_name(:description)
      %td= @activity.description.try(:html_safe)
    - if @activity.closed?
      %tr.notes
        %th= Activity.human_attribute_name(:notes)
        %td= @activity.notes.try(:html_safe)
