%h1
  = @color_table.name
  %small= ColorTable.model_name.human

= render partial: "navigation", locals: { color_table: @color_table, active: :show }

.row-fluid
  .span2
    .btn-group.result-toggles
      %button.btn.active(data-value="value") Resultat
      %button.btn(data-value="stanine") Stanine
  .span3
    %select#color-table-group-selector{height: 0, multiple: true, data: { placeholder: t(:".all_groups") }}
      = options_for_select(@color_table.group_hierarchy.collect { |g| [[g.name, g.parent.try(:name)].compact.join(", "), g.id]})

- evaluations = @color_table.generic_evaluations + @color_table.suite_evaluations

:javascript
  window.Digilys = window.Digilys || {}
  window.Digilys.colorTable = window.Digilys.colorTable || {}

  ;(function(exports) {

    var columns, data, menu

    columns = [#{color_table_columns(@color_table.student_data, evaluations)}]
    data = [#{result_rows(@color_table.students.order(current_name_order), @color_table.student_data, evaluations).join(",")}]

    for (var i = 0; i < columns.length; i++) {
      columns[i].sortable = true;
      columns[i].minWidth = i == 0 ? 220 : 80;
      columns[i].header = { menu: { items: [] } }
    }

    menu = [
      { title: "#{t(:".hide_column_action")}", command: "hide" },
      { title: "#{t(:".show_column_action")}", command: "show" }
    ]
    exports.columns    = columns
    exports.data       = data
    exports.columnMenu = menu
  })(window.Digilys.colorTable)

#color-table.show-value{style: "width: 100%;",
  "data-search-placeholder" => t(:".search_action"),
  "data-student-url-template" => color_table_student_path(@color_table, id: ":id"),
  "data-show-column-modal" => "#show-column-modal" }

#show-column-modal.modal.hide.fade(role="dialog" aria-hidden="true" data-backdrop="true")
  .modal-header
    %button.close{type: "button", data: { dismiss: "modal" }, aria: { hidden: "true" }} &times;
    %h3= t(:".show_column_action")
  .modal-body
    .alert.alert-block.alert-info= t(:".show_column_hint")
    %ul.unstyled

/= render partial: "color_table", locals: { color_table: @color_table, user_settings: @user_settings, can_change: true }
