- content_for :content do
  .sidebar.span3
    .well
      %ul.nav.nav-list
        %li.nav-header= t(:".administration")
        %li{class: active_if(working_with_suite?(@suite, @evaluation))}
          %a{href: suites_path()}= Suite.model_name.human(count: 2)
        %li{class: active_if(params?(controller: "students"))}
          %a{href: students_path()}= Student.model_name.human(count: 2)
        %li{class: active_if(params?(controller: "groups"))}
          %a{href: groups_path()}= Group.model_name.human(count: 2)
        - if can? :manage, User
          %li{class: active_if(params?(controller: "users"))}
            %a{href: users_path()}= User.model_name.human(count: 2)

        %li.nav-header= t(:".templates")
        %li{class: active_if(working_with_evaluation_template?(@evaluation))}
          %a{href: template_evaluations_path()}= t(:"template.evaluations.title")
        %li{class: active_if(working_with_suite_template?(@suite))}
          %a{href: template_suites_path()}= t(:"suites.templates_title")

        %li.nav-header= t(:".generics")
        %li{class: active_if(working_with_generic_evaluation?(@evaluation))}
          %a{href: generic_evaluations_path()}= t(:"generic.evaluations.title")

  .content.span9
    = content_for?(:admin_content) ? yield(:admin_content) : yield

= render template: "layouts/application", locals: { is_admin: true }
