!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? "#{yield(:title)} - DigiLys" : "DigiLys"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"


  %body
    - working_with_templates = working_with_evaluation_template?(@evaluation) || working_with_suite_template?(@suite)
    .navbar.navbar-fluid-top
      - if Conf.instance_banner
        .instance-banner.alert= Conf.instance_banner.html_safe
      .navbar-inner
        .container-fluid
          %a.brand{href: root_url()}
            DigiLys

          %ul.nav
            - if Conf.multiple_instances && user_signed_in?
              = instance_indicator
              %li.divider-vertical
            %li{class: active_if(working_with_templates)}
              - if can? :create, Suite
                %a{href: template_suites_path()}= t(:".templates")
              - elsif can? :manage, Evaluation
                %a{href: template_evaluations_path()}= t(:".templates")
            - if can? :manage, User
              %li{class: active_if(params?(controller: "users"))}
                %a{href: users_path()}= User.model_name.human(count: 2)
            - if can? :import, :all
              %li{class: active_if(params?(controller: "import/instructions"))}
                %a{href: new_import_instruction_path()}= t(:".import")

          %ul.nav.pull-right
            - if user_signed_in?
              %li
                = link_to edit_user_path(current_user) do
                  %small= t(:".logged_in_as", name: current_user.name)
              %li
                = link_to t(:".logout_action"), destroy_user_session_path(), method: :delete
            - else
              %li
                = link_to t(:".login_action"), new_user_session_path()
            - if Conf.feedback
              %li
                %a(href="#feedback-modal" role="button" data-toggle="modal")= t(:".feedback")
                #feedback-modal.modal.hide.fade(role="dialog" aria-hidden="true" aria-labelledby="feedback-modal-header")
                  .modal-header
                    %button.close(data-dismiss="modal" aria-hidden="true") x
                    %h3#feedback-modal-header= t(:".feedback")
                  .modal-body
                    %iframe{src:Conf.feedback.url, width:"760", height:"500", frameborder:"0", marginheight:"0", marginwidth:"0"}
            - if instruction = Instruction.for_controller_action(params[:controller], params[:action])
              %li
                %a(href="#instruction-modal" role="button" data-toggle="modal")= t(:".help")
                #instruction-modal.modal.hide.fade(role="dialog" aria-hidden="true" aria-labelledby="feedback-modal-header")
                  .modal-header
                    %button.close(data-dismiss="modal" aria-hidden="true") x
                    %h3#instruction-modal-header= instruction.title
                    - if can? :manage, instruction
                      .btn-group
                        = link_to t(:".export_action"),
                          instructions_path(),
                          class: "btn btn-mini"
                        = link_to t(:".edit_action"),
                          edit_instruction_path(instruction, return_to: url_for()),
                          class: "btn btn-mini"
                        = link_to t(:".destroy_action"),
                          confirm_destroy_instruction_path(instruction, return_to: url_for()),
                          class: "btn btn-mini btn-danger"
                  .modal-body
                    = instruction.film.try(:html_safe)
                    = instruction.description.try(:html_safe)
            - elsif can? :manage, Instruction
              %li
                = link_to new_instruction_path(return_to: url_for(), for_page: "#{params[:controller]}/#{params[:action]}") do
                  %i.icon-pencil
                  %em= t(:".help")



    .container-fluid

      = bootstrap_flash

      .row-fluid
        - if fullpage ||= false || !user_signed_in? || !current_user.has_any_role?(:admin, :superuser)
          = content_for?(:content) ? yield(:content) : yield
        - else
          .sidebar.span3
            .well
              %ul.nav.nav-list
                - if working_with_templates
                  = render "shared/template_sidebar", locals: { suite: @suite, evaluation: @evaluation }
                - elsif working_with_import?
                  = render "shared/import_sidebar", locals: { suite: @suite, evaluation: @evaluation }
                - else
                  = render "shared/workspace_sidebar", locals: { suite: @suite, evaluation: @evaluation }

          .content.span9
            = content_for?(:content) ? yield(:content) : yield

    - if Conf.eula && show_eula?
      #eula-modal.modal.hide.fade(role="dialog" aria-hidden="true" aria-labelledby="feedback-eula-header" data-backdrop="static")
        .modal-header
          %h3#eula-modal-header= Conf.eula.header
        .modal-body= Conf.eula.body.html_safe
        .modal-footer
          %a.btn.btn-primary(href="#" data-dismiss="modal")= t(:".eula_confirmation")

    
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster

    :javascript
      window.Digilys = window.Digilys || {}
      window.Digilys.navigationConfirmation = "#{t(:navigation_confirmation)}";

    = javascript_include_tag "application"
    = content_for?(:page_end) ? yield(:page_end) : ""
